.about {
 display: none;

  //.about__row
  &__row {
    display: flex;
    align-items: center;
    gap: 40px;
    min-width: 0;

    @media screen and (min-width: 1200px) {
      gap: 90px;
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }

  //.about__col
  &__col {

    &:first-child {
      min-width: 0;
      @media screen and (min-width: 992px) {
        flex: 0 0 50%;
      }
    }
  }

  //.about__slider
  &__slider {
  }

  //.about__wrapper
  &__wrapper {
  }

  //.about__slide
  &__slide {

    @media screen and (max-width: 1200px) {
      width: 220px !important;
    }
  }

  //.about__slide-image
  &__slide-image {
    width: 100%;
    height: 547px !important;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  //.about__btn-next
  &__btn-next {
  }

  //.about__btn-prev
  &__btn-prev {
  }

  //.about__text
  &__text {
  }


}