.footer {
  flex: 0 0 auto;
  background: #487B94;
  border-radius: 40px 40px 0 0;

  //.footer__inner
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);

    @media screen and (max-width: 578px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  //.footer__nav
  &__nav {
  }

  //.footer__nav-list
  &__nav-list {
    display: flex;
    align-items: center;
    gap: 40px;

    li {
      a {
        color: #ffffff;
      }
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 578px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  //.footer__wrp
  &__wrp {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

    @media screen and (max-width: 578px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  //.footer__social
  &__social {
  }

  //.footer__logo
  &__logo {
  }

  //.footer__bottom
  &__bottom {
    padding: 17px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

  }

  //.footer__link
  &__link {
    font-size: 13px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.67);
  }

}

.copyright {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.67);
}