.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__input {
    padding: 22px 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    color: rgba(128, 128, 128, 1);
    font-size: 20px;
    font-weight: 400;
    border: 1px solid rgba(130, 199, 212, 1);
    box-shadow: 0px 144px 40px 0px rgba(92, 92, 92, 0), 0px 92px 37px 0px rgba(92, 92, 92, 0.01), 0px 52px 31px 0px rgba(92, 92, 92, 0.03), 0px 23px 23px 0px rgba(92, 92, 92, 0.04), 0px 6px 13px 0px rgba(92, 92, 92, 0.05);
  }

  &__textarea {
    padding: 22px 35px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    color: rgba(128, 128, 128, 1);
    font-size: 20px;
    font-weight: 400;
    border: 1px solid rgba(130, 199, 212, 1);
    box-shadow: 0px 144px 40px 0px rgba(92, 92, 92, 0), 0px 92px 37px 0px rgba(92, 92, 92, 0.01), 0px 52px 31px 0px rgba(92, 92, 92, 0.03), 0px 23px 23px 0px rgba(92, 92, 92, 0.04), 0px 6px 13px 0px rgba(92, 92, 92, 0.05);
  }


  &__submit {
    width: 100%;
    padding: 20px 60px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    border: 1px solid rgba(130, 199, 212, 1);
    box-shadow: 0px 144px 40px 0px rgba(92, 92, 92, 0), 0px 92px 37px 0px rgba(92, 92, 92, 0.01), 0px 52px 31px 0px rgba(92, 92, 92, 0.03), 0px 23px 23px 0px rgba(92, 92, 92, 0.04), 0px 6px 13px 0px rgba(92, 92, 92, 0.05);
    border-radius: 20px;
    background: rgba(72, 123, 148, 1);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 25px;
  }

  &__bottom-left {

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-top: 10px;
    }
  }

  &__bottom-right {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    label {
      max-width: 268px;
      font-size: 14px;
    }

    input[type="checkbox"] {
      margin-top: 3px;
    }
  }

  &__checkbox {

  }


  &__phone {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    text-decoration: underline;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 10px;

    label {
      font-size: 14px;
    }
  }

}