* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

button {
  border: none;
  cursor: pointer;
}

.container {

  @media screen and (min-width: 1400px) {
    max-width: 1300px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1300px;
  }

}

.btn {
  background-color: #487B94;
  border-radius: 12px;
  font-weight: 600;
  color: #ffffff;
  transition: .3s;

  @media (hover:hover) {
    &:hover {
      background-color: #3b7fa1;
    }
  }

  &:active {
    opacity: 0.9;
  }

  //.btn--large
  &--large {
    padding: 22px 88px;
    font-size: 20px;
  }

  &--medium {
    padding: 15px 70px;
    font-size: 20px;
  }


  //.btn--small
  &--small {
    padding: 15px 25px;
    font-size: 16px;
  }


}

.t-center {
  text-align: center;
}

.big-title {
  background: linear-gradient(to bottom, #b2e5ef, rgba(178, 229, 239, 0)); /* голубой -> прозрачный */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 190px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: underline;
  text-align: center;
}

.garant {
  position: absolute;
  top: 0;
  right: 0;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;


  //.garant__bg
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/img/garant-text.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: spin 10s linear infinite;
  }



  //.garant__inner
  &__inner{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(130, 199, 212, 1);
    border-radius: 50%;
  }


}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-scrollbar {}


