* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

button {
  border: none;
  cursor: pointer;
}

.container {

  @media screen and (min-width: 1400px) {
    max-width: 1300px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1300px;
  }

}

.btn {
  background-color: #487B94;
  border-radius: 12px;
  font-weight: 600;
  color: #ffffff;
  transition: .3s;

  @media (hover:hover) {
    &:hover {
      background-color: #3b7fa1;
    }
  }

  &:active {
    opacity: 0.9;
  }

  //.btn--large
  &--large {
    padding: 22px 88px;
    font-size: 20px;
  }

  &--medium {
    padding: 15px 70px;
    font-size: 20px;
  }


  //.btn--small
  &--small {
    padding: 15px 25px;
    font-size: 16px;
  }


}

.t-center {
  text-align: center;
}

.big-title {
  background: linear-gradient(to bottom, #b2e5ef, rgba(178, 229, 239, 0)); /* голубой -> прозрачный */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 190px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: underline;
  text-align: center;
}

