* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 120%;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.container {

  @media screen and (min-width: 1400px) {
    max-width: 1300px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1300px;
  }

}

.btn {
  background-color: #487B94;
  border-radius: 12px;
  font-weight: 600;
  color: #ffffff;
  transition: .3s;

  @media (hover: hover) {
    &:hover {
      background-color: #3b7fa1;
    }
  }

  &:active {
    opacity: 0.9;
  }

  //.btn--large
  &--large {
    padding: 22px 88px;
    font-size: 20px;

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 22px 20px;
    }
  }

  &--medium {
    padding: 15px 70px;
    font-size: 20px;
  }


  //.btn--small
  &--small {
    padding: 15px 25px;
    font-size: 16px;
  }


}

.t-center {
  text-align: center;
}

.big-title {
  background: linear-gradient(to bottom, #b2e5ef, rgba(178, 229, 239, 0)); /* голубой -> прозрачный */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 190px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: underline;

  @media screen and (max-width: 1200px) {
    font-size: 140px;
  }

  @media screen and (max-width: 992px) {
    font-size: 105px;
  }

  @media screen and (max-width: 700px) {
    font-size: 80px;
  }

  @media screen and (max-width: 578px) {
    font-size: 60px;
  }

  @media screen and (max-width: 420px) {
    font-size: 50px;
  }

}

.title {
  color: rgba(72, 123, 148, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
}

.animate-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 578px) {
    width: 75px;
    height: 75px;
  }


  //.animate-circle__bg
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: spin 10s linear infinite;
  }

  //.animate-circle__hero
  &__hero {
    background-image: url("/img/garant-text.png");
  }

  //.animate-circle__service
  &__service {
    background-image: url("/img/zamer.svg");
  }

  //.animate-circle__inner
  &__inner {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(130, 199, 212, 1);
    border-radius: 50%;

    @media screen and (max-width: 578px) {
      width: 40px;
      height: 40px;
    }
  }


}

.py {
  padding: 70px 0;

  @media screen and (max-width: 768px) {
    padding: 40px 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text {

  p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

}

.slider-controls {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 35px;

  //.slider-controls__buttons
  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 50%;
    color: rgba(130, 199, 212, 1);
    border: 2px solid rgba(130, 199, 212, 1);
    background: rgba(217, 217, 217, 0);

    svg {
      height: 14px;
    }
  }

  .swiper-button-disabled {
    border: 2px solid rgba(170, 170, 170, 1);
    color: rgba(170, 170, 170, 1);
  }

  .swiper-scrollbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .swiper-scrollbar-drag {
      background: rgba(130, 199, 212, 1);
    }
  }

}


.scroll-top {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #487b94;
  background: #487b94;
  z-index: 999;

  img {
    transform: rotate(-90deg);
  }
}
