.hero {
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }

  .container {
    @media screen and (min-width: 1200px) {
      display: contents;
    }
  }

  //.hero__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 91px;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  //.hero__left
  &__left {
    position: relative;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 0px 269px 75px 0px rgba(120, 120, 120, 0), 0px 172px 69px 0px rgba(120, 120, 120, 0.01), 0px 97px 58px 0px rgba(120, 120, 120, 0.05), 0px 43px 43px 0px rgba(120, 120, 120, 0.09), 0px 11px 24px 0px rgba(120, 120, 120, 0.1);
    background: rgba(255, 255, 255, 1);
    padding: 45px;

    @media screen and (max-width: 1300px) and (min-width: 1200px) {
      padding-left: 12px;
    }

    @media screen and (min-width: 1300px) {
      padding-left: calc((100vw - 1280px) / 2);
    }

    @media screen and (max-width: 1200px) {
      border-radius: 40px;
    }

    @media screen and (max-width: 425px) {
      padding: 25px;
    }

  }

  //.hero__untitle
  &__untitle {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    @media screen and (max-width: 425px) {
      font-size: 18px;
    }
  }

  //.hero__title
  &__title {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
    color: #487B94;

    span, b, strong {
      color: #82C7D4;
    }

    @media screen and (max-width: 768px) {
      font-size: 45px;
    }

    @media screen and (max-width: 425px) {
      font-size: 35px;
    }
  }

  //.hero__subtitle
  &__subtitle {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 400;
    color: #454545;

    span, b, strong {
      color: #82C7D4;
    }

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }

    @media screen and (max-width: 425px) {
      font-size: 16px;
    }
  }

  //.hero__btn
  &__btn {
  }

  //.hero__right
  &__right {
    min-width: 0;
  }

  //.hero__slider
  &__slider {

  }

  //.hero__wrapper
  &__wrapper {
  }

  //.hero__slide
  &__slide {
    width: 294px !important;
    overflow: hidden;
    border-radius: 40px;

    @media screen and (min-width: 992px) {
      height: 480px !important;
    }
  }

  //.hero__image
  &__image {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider-controls {
    //max-width: 707px;
  }


}