body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 98;
}

body._lock::after {
  opacity: 1;
}

._lock {
  overflow: hidden;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;

}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
  position: relative;
  transition: .3s;
}

.popup__wrapper {
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.popup__content {
  width: 100%;
  max-width: 620px;
  //height: 100vh;
  //padding: 40px 40px 60px;
  background-color: rgba($color: #fff, $alpha: 1.0);
  border-left: 1px solid rgba($color: #000000, $alpha: .1);
  border-radius: 45px;
  transform: scale(0);
  visibility: hidden;
  transition: transform 0.3s ease 0s;

  .lock & {
    visibility: visible;
  }

  @media screen and (max-width: 425px) {
    padding: 40px 20px 60px;
  }
}


.popup__inner {
  padding: 40px;
}

.popup__top {
  padding: 38px 30px;
  border-radius: 40px;
  background: rgba(72, 123, 148, 1);
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

.popup__title {
  margin-bottom: 24px;
  text-align: center;
  color: rgba($color: #000000, $alpha: 1.0);
  font-size: 36px;
  font-weight: 300;
  line-height: 150%;
}


.popup__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup__loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background-color: rgba($color: #fff, $alpha: .5);

  &._active {
    pointer-events: all;
    display: flex;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

.popup__contact {
  height: calc(100vh - 100px);
  overflow-y: auto;

  /* Webkit-браузеры */
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  /* IE (ограниченная поддержка) */
  * {
    -ms-overflow-style: auto;
  }
}

.cookie-notice {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 70%;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #3b7fa1;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;

  p {
    margin-bottom: 5px;
  }

  a {
    color: #82c7d4;
    text-decoration: underline;
  }
}

.accept-cookies {
  width: 200px;
  padding: 10px 20px;
  background-color: #82c7d4;
  color: white;
  border: none;
  border-radius: 5px;
}