.quiz {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;

  .popup__content {
    max-width: 800px;
  }

  &__body {
    display: none;

    &.active {
      display: block;
    }
  }

  [data-form] {
    display: none;

    &.active {
      display: block;
    }
  }

  &__content {
    max-width: 1040px;
    width: 100%;
    border-radius: 40px;
    background: #FFFFFF;
  }

  &__inner {
    padding: 30px 35px;

    @media screen and (max-width: 768px) {
      padding: 20px 15px;
    }
  }

  &__title {
    margin-bottom: 31px;
    color: rgba(72, 123, 148, 1);
    font-size: 32px;
    font-weight: 700;

    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }

  &__answers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    gap: 73px;

    @media screen and (max-width: 768px) {
      gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    }
  }

  &__answer {
    position: relative;
    max-width: 200px;
    text-align: center;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      margin-bottom: 15px;
      height: 100%;
      max-height: 200px;
      width: 100%;
      border-radius: 40px;
      border: 1px solid rgba(72, 123, 148, 1);

      @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
        border-radius: 20px;
      }
    }

    p {
      font-size: 15px;
      margin-top: 10px;
    }

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(18%, -35%);
      width: 60px;
      height: 60px;
      z-index: 98;
      background-image: url("/img/active-check.png");
      background-size: cover;

      @media screen and (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }

    &.active::before {
      display: block;
    }

    input[type="radio"] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      padding: 13px 47px;
      font-weight: 600;
      border: 1px solid rgba(72, 123, 148, 1);
      border-radius: 20px;

      @media screen and (max-width: 768px) {
        padding: 7px 20px;
        font-size: 14px;
      }
    }
  }

  &__btn-outline {
    color: rgba(72, 123, 148, 1);
  }

  &__btn-bg {
    color: #fff;
    background: rgba(72, 123, 148, 1);
  }

  &__step {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 32px;
    font-weight: 700;
    color: rgba(72, 123, 148, 1);

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
  }

  &__current-step {
  }

  &__last-step {
  }

  &__separat {
  }


}